.background {
    background-color: #EBECFE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .registerModal {
    background-color: white;
    display: flex;
    width: 60%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .registerFormContainer {
    width: 50%;
  }
  
  .registerForm {
    height: 100%;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .registerForm h1 {
    font-size: 24px;
  }
  
  .registerForm input {
    font-family: 'Poppins';
    padding: 15px;
    background-color: #EFF0F6;
    border: none;
    border-radius: 10px;
  }
  
  .registerForm input:focus {
    outline: none;
  }
  
  .registerForm a {
    color: #610BEF;
    text-decoration: none;
    font-weight:600;
  }
  
  .registerForm button {
    font-family: Poppins;
    font-weight: 500;
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    background-color: #610BEF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
  }
  
  .registerForm .noAccount {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  .registerForm .smallText {
    font-size: 14px;
    line-height: 1.2;
  }
  
  .registerForm .smallText a {
    color: #610BEF;
    text-decoration: none;
    font-size: 14px;
  }
  
  .registerForm .gap {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }

  .passwordField {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .passwordField input {
    width: 100%;
    padding-right: 40px;
  }
  
  .passwordField .icon {
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    color: #888;
  }
  
