.completedTestsWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
}

.userHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.userHeader h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.userLevel {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #e0f5e9;
  color: #1d8841;
}

.userLevel.professional {
  background-color: #e0f5e9;
  color: #1d8841;
}

.userLevel.beginner {
  background-color: #ffe5e5;
  color: #d92f2f;
}

.testList {
  display: grid;
  gap: 10px;
  align-items: start;
}
.testCard {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100px
}

.testInfo {
  flex: 1;
  text-align: left; /* Align text to the left */
  max-height: 100px;
}

.testInfo h3 {
  font-size: 18px;
  color: #610bef;
  margin-bottom: 5px;
}

.testInfo p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.testResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
    height: 100px;
}

.testResults .score {
  font-size: 18px;
  font-weight: 600;
}

.testResults .pass {
  color: #4caf50; /* Green for passing */
}

.testResults .fail {
  color: #f44336; /* Red for failing */
}

.testResults .time {
  font-size: 14px;
  color: #777;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background-color: #eee;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.pagination button.active,
.pagination button:hover:not(:disabled) {
  background-color: #610bef;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
