.testInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Full viewport height */
  background: linear-gradient(135deg, #ecebff, #f9f9ff);
  font-family: 'Poppins', sans-serif;
  padding: 0 20px; /* Only horizontal padding */
}

.testCard {
  background-color: #ffffff;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testHeading {
  font-size: 32px;
  font-weight: 700;
  color: #610bef;
  margin-bottom: 10px;
}

.testMeta {
  font-size: 15px;
  color: #666;
  margin-bottom: 25px;
}

.testMeta .label {
  font-weight: 500;
  margin-right: 5px;
}

.testDescription {
  font-size: 17px;
  color: #333;
  margin-bottom: 35px;
  line-height: 1.6;
}

.testStats {
  display: flex;
  flex-direction: row;
  align-items: center;  
  gap: 16px;
  margin-bottom: 30px;
}


.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statValue {
  font-size: 24px;
  font-weight: 600;
  color: #610bef;
}

.statLabel {
  font-size: 14px;
  color: #888;
}

.startBtn {
  background-color: #610bef;
  color: white;
  border: none;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.startBtn:hover {
  background-color: #4c08c2;
}

