.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins';
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-logo {
  font-weight: 700;
  font-size: 20px;
  color: #610BEF;
  text-decoration: none;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.nav-link:hover {
  color: #610BEF;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-username {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.nav-profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #610BEF;
}
